#bioPhoto {
  height: 285px;
  width: 245px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 20px;
}

.contentCard {
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  border-color: black;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-left: 35px;
  margin-right: 35px;
}

#bioBtn {
  height: 24px;
  width: 24px;
  border-radius: 3px;
}

#workBtn {
  height: 24px;
  width: 24px;
  border-radius: 3px;
}

#eduBtn {
  height: 24px;
  width: 24px;
  border-radius: 3px;
}
