/* Styles for GitHub buttons. */

.btn.btn-primaryGitHib {
  background-color: #2a2b2b;
  padding: 2%;
  border-radius: 10%;
  border: solid;
  border-color: #94bdea;
  border-width: 3px;
  --bs-btn-color: #94bdea;
  margin-bottom: 2%;
}

.btn.btn-primaryGitHub:hover {
  background-color: #94bdea;
  color: #2a2b2b;
  border-color: #94bdea;
}
