/* Styles for project cards and GitHub Buttons. */

.g-4 {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.card-img-top {
  float: left;
  margin: 2%;
  height: 110px;
  width: 80px;
  border-radius: 15px;
}

.prjCard {
  display: flex;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border: none;
  justify-content: space-between;
}
.prjPhoto {
  height: 200px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border-radius: 10px;
}

.btn.btn-primary {
  background-color: rgb(42, 6, 6);
  padding: 2%;
  border-radius: 10%;
  border: solid;
  border-color: white;
  border-width: 2px;
  --bs-btn-color: white;
}
