/* Styles for GitHub button and blurb. */

.btn.btn-primaryGitHub {
  background-color: #2a2b2b;
  padding: 2%;
  border-radius: 10%;
  border: solid;
  border-color: #94bdea;
  border-width: 3px;
  --bs-btn-color: #94bdea;
  width: auto;
  height: auto;
}

#Blurb {
  margin-top: 10%;
  font-size: 14px;
  color: rgb(254, 254, 3);
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.btn.btn-primaryGitHub:hover {
  background-color: #94bdea;
  color: #2a2b2b;
  border-color: #94bdea;
}
