/* Styling for resume section and download buttons.*/
.resumeCard {
  display: inline-block;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border: none;
  justify-content: space-between;
}
#cardText {
  background-color: rgb(42, 6, 6);
  padding: 2%;
}
.downloadIcons {
  display: flex;
  justify-content: space-between;
}

#msWordBtn {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80px;
  height: 80px;
  padding: 2%;
  background: url("./assets/WordIcon.png");
  cursor: pointer;
  background-size: contain;
  border: none;
  border-radius: 0%;
  background-repeat: no-repeat;
}

#adobeBtn {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80px;
  height: 80px;
  padding: 2%;
  background: url("./assets/AdobeIcon.png");
  cursor: pointer;
  background-size: contain;
  border: none;
  border-radius: 0%;
  background-repeat: no-repeat;
}
