/* Styling for contact form */

.contactForm {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.form-label {
  color: #d9d9d9;
  margin-left: auto;
  margin-right: auto;
}
.mb-3 {
  color: #94bdea;
  background-color: #3a3a3a;
  display: flex;
  border-style: solid;
  border-color: #94bdea;
  border-radius: 5px;
  border-width: 3px;
  width: 70%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  margin-bottom: 2%;
}

.text-muted {
  font-size: 10px;
  opacity: 0.4;
}

#messageLabel {
  margin-top: 12%;
}

#messageInput {
  color: #94bdea;
  background-color: #3a3a3a;
  border-style: solid;
  border-color: #94bdea;
  border-width: 3px;
  padding: 1%;
  display: flex;
  border-radius: 5px;
  height: 180px;
  margin-bottom: 2%;
  text-align: top;
  word-wrap: break-word;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#formBtn {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #3a3a3a;
  border-style: solid;
  border-color: #94bdea;
  color: #94bdea;
  border-width: 3px;
}
