/* Styling for contact form */

.contactForm {
  margin-left: auto;
  margin-right: auto;
}

.form-label {
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.mb-3 {
  display: flex;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  width: 60%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  margin-bottom: 2%;
}
#messageInput {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 1%;
  display: flex;
  border-radius: 5px;
  height: 180px;
  margin-bottom: 2%;
  text-align: top;
  word-wrap: break-word;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#formBtn {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgb(42, 6, 6);
  border-style: solid;
  border-color: white;
  border-width: 2px;
}
