/* Styling for Navbar and it's content. */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1100;
  background-color: #282c34;
  margin-bottom: 2%;
}

/*Styles toggler on smaller screen sizes.*/
.navbar-toggler-icon {
  background-color: white;
}

.container {
  width: 95%;
}

#title {
  font-family: "Michroma", sans-serif;
  font-size: 28px;
  color: white;
}

#title:hover {
  color: #4b749f;
}

.navLinks {
  color: #4b749f;
}

.navLinks.nav-link.active {
  color: white;
}

.navLinks {
  color: #4b749f;
}

.navLinks:visited {
  color: #4b749f;
}

.navLinks:hover {
  color: white;
}

.navLinks:active {
  color: #4b749f;
}
