/* Styling for Navbar and it's content. */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1100;
  background-color: #2a2b2b;
  margin-bottom: 2%;
}

/*Styles toggler on smaller screen sizes.*/
.navbar-toggler-icon {
  background-color: #94bdea;
}

.container {
  width: 95%;
}

#title {
  font-family: "Michroma", sans-serif;
  font-size: 28px;
  color: #94bdea;
}

@media screen and (max-width: 420px) {
  #title {
    margin-left: 10%;
  }
}

#title:hover {
  color: #d9d9d9;
}

.navLinks {
  color: #acc9e8;
}

.navLinks.nav-link.active {
  color: #d9d9d9;
}

.navLinks {
  color: #acc9e8;
}

.navLinks:visited {
  color: #acc9e8;
}

.navLinks:hover {
  color: #d9d9d9;
}

.navLinks:active {
  color: #acc9e8;
}
