/* Styling for bioDiv and it's content. */

.bioCard {
  display: inline-block;
  width: 50%;
  margin-right: 98%;
  background: none;
  border: none;
}

/* Styling for workDiv and it's content. */

#workDiv {
  display: flex;
  float: left;
  width: 100%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.workCard {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border: none;
  justify-content: space-between;
}

/* Styling for eduDiv and it's content. */
#eduDiv {
  display: flex;
  float: left;
  width: 100%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.eduCard {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border: none;
  justify-content: space-between;
}

.contentCol {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 60%;
}
