.bioCard {
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  border-color: black;
}

#bioPhoto {
  /* Need to adjust top margin */
  height: 280px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 20px;
}

.workCard {
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  border-color: black;
}

.workPhoto {
  /* Need to adjust top margin */
  height: 280px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 20px;
}

.eduCard {
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  border-color: black;
}

.eduPhoto {
  /* Need to adjust top margin */
  height: 280px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 20px;
}

.active.carouselItem {
  display: flex;
  justify-content: space-between;
}

/* .carousel-indicators {
  background-color: blueviolet;
} */

#workBtn {
  height: 24px;
  width: 24px;
  border-radius: 3px;
}

#eduBtn {
  height: 24px;
  width: 24px;
  border-radius: 3px;
}

.carousel-control-next-icon {
  background-color: blueviolet;
}

.carousel-control-prev-icon {
  background-color: blueviolet;
}
