/* Styling for bioDiv and it's content. */
#bioDiv {
  display: flex;
  display: inline-block;
}

.bioCard {
  display: inline-block;
  width: 50%;
  margin-right: 90%;
  background: none;
  border: none;
}
.card-img-top {
  float: left;
  margin: 2%;
  height: 110px;
  width: 80px;
}

/* Styling for workDiv and it's content. */
#workDiv {
  display: inline-block;
  width: 100%;
  justify-content: space-between;
}

.workCard {
  display: inline-block;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border: none;
  justify-content: space-between;
}

.workPhoto {
  height: 160px;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border-radius: 10px;
}

/* Styling for eduDiv and it's content. */
#eduDiv {
  display: inline-block;
  width: 100%;
  justify-content: space-between;
}

.eduCard {
  display: inline-block;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border: none;
  justify-content: space-between;
}

.eduPhoto {
  height: 160px;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border-radius: 0px;
}
